<%- include('header') -%>

<div  class="row" id="maincontainer">
    <div class="text-center center-div col-12 col-md-12 container-fluid" id="login">
        <div class="container border col-12 col-lg-4 py-5 mb-5 container-fluid" id="squarediv">
            
            <div   class="title text-white pb-5">
                <h1 class="font-weight-bold">USER LOGIN</h1>
                <span>Loggin for Existing Users</span>
                <% if(err){ %>
                    <h6 class="alert alert-danger"><%-err%></h6>
               <% } %>
                <% if(locals.logout){%>
                    <div class="alter alert-success text-center">
                        <%= logout %>
                    </div>
                <%}%>
            </div>
            <form id="formone" action="/logit" method="post"  autocomplete="off">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" name="email" required>
                    <!-- <small class="form-text text-white text-left"><i>Registered email address</i></small> -->
                </div>
                <div class="form-group mt-4">
                    <input type="password" class="form-control" name="password" placeholder="password" required>
                </div>
                <div class="d-flex justify-content-center mt-4" id="btnsign">
                    <a href="/signup" style="text-decoration: none" id="signbtn" ><i>Don't Have an Account ? </i><strong>SIGN UP</strong></a>
                </div>
                <button type="submit" id="subbtn" class="btn btn-success rounded-pill mt-4">SUBMIT</button>
            </form>
            
                <div class="d-flex justify-content-end center-div mt-4 container-fluid" id="logbtn">
                    <form action="/adminlogin" method="post">
                        <a href="/adminlogin" style="text-decoration: none; color: rgb(149, 62, 62); font-weight: bold;">ADMIN LOGIN</a>
                        <!-- <button class="logbut" id="logbtn" type="submit">Admin Login</button> -->
                    </form>
                    <!-- <form action="/userlogin" method="post">
                        <button class="logbut" type="submit">User Login</button>
                    </form> -->
                </div>
                
        </div>
    </div>
</div>

<%- include('footer') -%>